.about {
    margin-bottom: 150px;
    &--container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__line {
        margin-bottom: 46px;
    }

    &__heading {
        margin: 0;
        font-family: 'Ibarra Real Nova';
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
        margin-bottom: 26px;
    }

    &__desc {
        max-width: 350px;
        font-family: 'Public Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #33323D;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 24px;
    }

    &__btn {
        margin: 0;
        padding: 17px 34px;
        border: 1px solid #33323D;
        cursor: pointer;
        background: #F2F2F2;
        font-family: 'Public Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #33323D;
        transition: 0.3s;
        display: block;
        margin-bottom: 40px;
    }

    &__btn:hover {
        background: #33323D;
        color: #F2F2F2;
    }
}

@media only screen and (max-width:945px) {
    .about {
        &--container {
            align-items: stretch;
            justify-content: space-between;
        }

        &__desc {
            max-width: 339px;
        }
    }
}

@media only screen and (max-width:680px) {
    .about {
        &--container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__line {
            margin-top: 32px;
        }

        &__box {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__desc {
            text-align: center;
            max-width: 450px;
        }
    }
}